@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  font-family: "poppins";
  margin: 0;
}

nav {
  height: auto;
  width: auto;
  margin: 0 50px 0 0;
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 15px 0;

  ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }
  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0 5px 8px 8px;
  }

  a:hover {
    border-bottom: #fff solid 1px;
    padding: 0 5px 8px 8px;
  }
}

.homepage {
  height: 100vh;
  width: 100vw;
  margin: 0 70px;

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
  }

  .text-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 30px 0;
    }

    h2 {
      margin: 0 0 20px 0;
    }

    p {
      margin: 0 0 40px 0;
    }

    button {
      border: none;
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #000;
      box-shadow: 0 0 10px #fff;
    }
  }

  .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.aboutUs {
  height: 100vh;
  width: 100vw;
  .main-container {
    margin: 0 30px 0 30px;
  }

  .box-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      margin: 0 0 20px 0;
    }
  }

  .box {
    max-width: 400px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px;
  }
}
